<%= render "shared/header" %>

<div class="box-content">
  <%# 作成ボタン %>
  <div class="content">
    <div class="content-image-area">
        <%= link_to image_tag("new_content_link.jpg", class:"content-image"), new_content_path %>
    </div>
    <div class="content-new-texts">
      <p class="content-new-text">新規投稿</p>
      <p class="content-new-text-sub">コンテンツのレビューや思い出、メモ、日記など</p>
    </div>
  </div>
  <%# 作成ボタン %>

  <%# 各コンテンツ %>
  <% @contents.each do |content| %>
    <% if user_signed_in? && current_user.id == content.user_id %>
      <%= render partial: "content", locals:{content: content} %>
    <% end %>
  <% end %>
  <%# 各コンテンツ %>
</div>