.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-image {
  height: 100%;
  width: 100%;
}

#menu-nav{
  background-color:#f5fffa;
  height: 60px;
  width: 100%;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.menu {
  font-size: 20px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.menu-left {
  height: 100%;
  padding: 0 10px;
  display: flex;
}

.menu-contents-link {
  margin-left: 3vw;
  text-decoration: none;
  color: #333333;
}

.menu-posts-link {
  text-decoration: none;
  color: #333333;
}

.menu-right {
  height: 100%;
  padding: 0 10px;
  display: flex;
}

.text-header {
  width: 130px;
  margin: 0 20px;
  padding: 21px 0;
  text-decoration: none;
  color: #333333;
}

.menu-left a {
  display: block;
  text-align: center;
}

.menu-right a{
  display: block;
  text-align: center;
}

.text-header:hover {
  color: #808080;
  background-color: #add8e6;
}