.top-page-header {
  background-color: #fdf5e6;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-image {
  width: calc(100vw - 30vw);
  height: calc(100vh - 30vh);
}

.top-menu-bar {
  background-color: #fdf5e6;
  height: 60px;
  width: 100%;
}

.menu {
  font-size: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  list-style: none;
  margin-left: 10px;
}

.menu-contents-link {
  margin-left: 3vw;
  text-decoration: none;
  color: #333333;
}

.menu-posts-link {
  text-decoration: none;
  color: #333333;
}

.menu-right {
  display: flex;
  list-style: none;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}
