<%= render "shared/header" %>

<div class="box-posts">

  <div class="btn-new-post">
    <%= link_to "投稿する", new_post_path %>
  </div>

  <% @posts.each do |post| %>
    <% if user_signed_in? && current_user.id == post.user_id %>
      <%= render partial: "post", locals:{post: post} %>
    <% end %>
  <% end %>
</div>