<%= render "shared/header" %>

<h1>ポスト投稿ページ</h1>

<div class="post-area">

  <div class="post-new">
    <div class="post-new-button">
      <%= link_to "投稿する", new_post_path %>
    </div>
  </div>





</div>

