.box-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: #fffaf0;
}

.content {
  width: 300px;
  height: 460px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 25px;
  background-color: white;
  padding-bottom: 5px;
}

.content-image-area {
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a52a2a;
  position: relative;
}

.content-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
} */
.content_list {
  border-top: 1px solid #000000;
}

.content_list a{
  color: #a52a2a;
  text-decoration: none;
}

.content_list a:hover{
  color: #cd5c5c;
  text-decoration: underline;
}

.content-new-texts {
  border-top: 1px solid #000000;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
}

.content-new-text {
  margin: 20px 0 8px 0;
  text-align: center;
}

.content-new-text-sub {
  text-align: center;
  font-size: 12px;
}

.title-content {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.sub-txt-content {
  font-size: 15px;
  margin: 8px;
}

/* レビュー一覧 */

.reviews-area {
  background-color: burlywood;
}