body {
  background-color: #fffaf0;
}

input[type="file"] {
  /* display: none; */
}

.preview-image {
  margin-left: 30px;
  width: 300px;
  object-fit: cover;
}

#back {
  position: fixed;
  right: 5px;
  bottom: 20px;
}

.arrow {
  width: 30px;
  height: 30px;
}

.field_with_errors {
  display: contents;
}

.error-alert {
  margin: 20px 10px;
  color: #dc143c;
}