input[type="file"] {
  display: none;
}

label {
  padding: 8px 30px;
  color: #ffffff;
  background-color: #384878;
  border-radius: 4px;
  cursor: pointer;
}

label:hover {
  background-color: #6c8ae6;
}

.preview-image {
  margin-left: 30px;
  width: 300px;
  object-fit: cover;
}