<div class="edit-review">
  <%= form_with model: [@content, @review], local: true do |f| %>
    <div class="edit-review-text">
      <%= f.text_area :comment, rows: 4, class:"text-review" %>
    </div>
    <div class="btn-edit-review">
      <%= f.submit "更新", class:"btn-review-edit" %>
    </div>
  <% end %>
</div>