.profile {
  width: 600px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 6px;
  margin: 30px auto;
  padding: 20px 30px;
}

.profile h1 {
  text-align: center;
  margin-bottom: 50px;
}
.profile-item p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.profile-item {
  text-align: center;
  font-size: 18px;
}

.profile-item-sub p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.link-user-edit {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
}

.link-user-edit:hover {
  color: gray;
  text-decoration: underline;
}