.sign-up-main {
  height: 100vh;
  background-color: #f5f5f5;

}

.sign-up-title {
  padding: 60px 0 50px 0;
  text-align: center;
  font-size: 30px;
}

.registration-form {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #696969;
  border-radius: 10px;
}

.user-input {
  width: 100%;
}

.field {
  margin-top: 20px;
}

.form-element {
  margin-top: 20px;
}

.submit-button {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.top-link {
  text-align: center;
  margin-top: 20px;
}

.top-link a {
  text-decoration: none;
  color: black;
}

form input[type=] {
  border: 0;
}

form input[type="submit"] {
  background-color: #ffdab9;
  border-radius: 15px;
  color: black;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #ffe4c4;
}